target/
.gradle/
out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
.vscode/
*.swp
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Others ###
.env

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# --- Reportes de Pruebas (Serenity/Appium) ---
test-output/
serenity-history/
# A veces Serenity genera reportes en la raíz o dentro de target
site/

# --- Logs ---
*.log
appium.log